body {
    justify-items: center;
    background-color: #23233b;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #23233b;
    border-radius: 10px;
    box-shadow: 10px 10px 70px 20px #beee10;
    transition: ease-in-out 2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.container:hover {
    box-shadow: 10px 10px 70px 20px #23233b;
    transition: ease-in-out 2s;


}

.WelcomeText {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #ffffff;
}

.email,
.password {
    height: 38px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding-left: 10px;
}

.btn {
    height: 38px;
    font-size: 15px;
    background-color: #fffb16;
    border-radius: 4px;
    border: none;
    color: #23233b;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #23233b;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: 3s;
}

.signupText {
    padding: 0;
    margin: 0;
    text-align: center;
}

.signupText1 {
    color: #ffffff;
}

.signupText2 {
    color: yellow;

body {
    display: table;
    width: 100%;
    background: #0e111a;
}
html, body, body>div {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}

}